@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #111827; /* bg-gray-900 */
  color: #f3f4f6; /* text-gray-100 (um pouco mais claro que o text-gray-200 usado) */
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Custom font styles if not solely relying on inline styles */
.font-cinzel {
  font-family: "Cinzel", serif;
}

.font-cinzel-decorative {
  font-family: "Cinzel Decorative", serif;
}

